<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249053827694-et6f7gb57gtkfu6bbl854861grr6om5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249053827694-et6f7gb57gtkfu6bbl854861grr6om5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDbwe_Xrhz_L3g1HAIrf-UvFqj0VGTQECU</string>
	<key>GCM_SENDER_ID</key>
	<string>249053827694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redbox.testing</string>
	<key>PROJECT_ID</key>
	<string>julia-set-d0657</string>
	<key>STORAGE_BUCKET</key>
	<string>julia-set-d0657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249053827694:ios:819955525362aa77984c7f</string>
	<key>DATABASE_URL</key>
	<string>https://julia-set-d0657-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>